/* Contact Us section */

.contact-title {
  font-weight: 600;
  font-size: 32px;
  /* line-height: 32px; */ 
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.contact-form-wrapper {
  border-radius: 30px;
  padding: 48px 28px;
  background-color: var(--cards);
}

.contact-caption {
  font-weight: 500;
  font-size: 14px;
  /* line-height: 18px; */ 
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
}

.contact-input {
  width: 100%;
  max-height: 42px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  /* line-height: 18px; */ 
  line-height: 1.28571;
}

.contact-input:focus {
  border: 1px solid var(--accent);
}

.contact-textarea {
  min-height: 84px;
  resize: none;
}

.contact-send-button {
  width: 134px;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 18px; */ 
  line-height: 1.28571;
  text-align: center;
  color: var(--background);
  background-color: var(--accent);
  border-radius: 16px;
  margin-top: 10px;
  padding: 12px 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-send-button:hover,
.contact-send-button:focus {
  background-color: #1f3cd4;
}

.contact-image-wrapper {
  width: 100%;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .contact-title {
    font-size: 48px;
    /* line-height: 44px; */ 
    line-height: 0.91667;
    margin-bottom: 40px;
  }

  .contact-wrapper {
    gap: 40px;
  }

  .contact-form-wrapper {
    border-radius: 50px;
    padding: 50px 122px;
  }

  .contact-caption {
    font-size: 16px;
    /* line-height: 20px; */ 
    line-height: 1.25;
    margin-bottom: 32px;
  }

  .contact-input {
    max-height: 52px;
    padding: 16px;
  }

  .contact-input::placeholder {
    font-size: 16px;
    /* line-height: 20px; */ 
    line-height: 1.25;
  }

  .contact-textarea {
    min-height: 90px;
    padding-bottom: 54px;
  }

  .contact-send-button {
    width: 160px;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 18px; */ 
    line-height: 1.28571;
    margin-top: 14px;
    padding: 17px 60px;
  }

  .contact-image-wrapper {
    max-height: 556px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 40px;
  }

  .contact-form-wrapper {
    max-width: 580px;
    padding: 50px 60px;
  }

  .contact-image-wrapper {
    max-width: 530px;
  }
}