/* Reviews section */

.reviews-title {
  font-weight: 600;
  font-size: 32px;
  /* line-height: 32px; */ 
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--main);
  margin-bottom: 24px;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.reviews-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  padding: 32px 36px;
  background: var(--cards);
}

.reviews-item-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.reviews-item-title {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 20px; */ 
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 16px;
}

.reviews-item-text {
  font-weight: 500;
  font-size: 14px;
  /* line-height: 18px; */ 
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

@media screen and (max-width: 767px) {
  .reviews-list .reviews-item:nth-child(n+2) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
    /* line-height: 44px; */ 
    line-height: 0.91667;
    margin-bottom: 40px;
  }

  .reviews-list {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
  }

  .reviews-item-title {
    font-size: 18px;
    /* line-height: 20px; */ 
    line-height: 1.1;
  }

  .reviews-item-text {
    width: calc((100%-16px)/2);
    font-size: 16px;
    /* line-height: 20px; */ 
    line-height: 1.25;
  }

  @media screen and (max-width: 1279px) {
    .reviews-list .reviews-item:nth-child(n+3) {
      display: none;
    }
  }
}

@media screen and (min-width: 1280px) {
  .reviews-list {
    gap: 20px;
  }

  .reviews-item-text {
    width: calc((100%-2*20px)/3);
  }
}
